@font-face {
  font-family: 'Press Start 2P';
  src: url('PressStart2P-Regular.ttf') format('opentype'),
  url('PressStart2P-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}




.leaderboard {
  position: fixed;
  right: 25px;
  top: 20px;
  width: 285px;
  background: transparent;
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
  text-align: center;
  color: rgb(33, 0, 248)
}

.leaderboard ol {
  counter-reset: leaderboard;
}
.leaderboard ol li {
  position: relative;
  z-index: 1;
  font-size: 20px;
  counter-increment: leaderboard;
  padding: 18px 10px 18px 50px;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
  font-weight: bolder;
  text-align: left;
}



